:root {
    --testing: white;
    /*this is a css variable, declared by using -- then the variable
    name. the :root means that it applies to all elements*/
}

body {
    background-color: rgb(99, 99, 99);
}

p {
    color: var(--testing);/*how to call a variable*/
    padding:5px;
    margin:10px;
}

nav {
    text-align:center;
    padding:5px;
    margin: 40px 10px 10px;
    font-size:large;
    text-transform:uppercase;
}

li {
    display:inline;
    padding: 0px;
}

li a {
    color: white;
    text-decoration:none;
}

#navbarel{
    padding: 25px 150px;
    background-color: rgb(48, 48, 48);
    margin: 0px;
}

h1{
    color: white;
    padding:5px;
    margin:10px;
}

h3 {
    color: white;
    padding:5px;
    margin:10px;
}

.floatleft {
    float:left;
    /*makes whatever uses this class float off to the left
    like an image to the left of some text*/
}

.floatright {
    float:right;
}

.article {
    padding:5px;
    padding-bottom:0px;
    margin:25px 0px 0px;
    display: block;
    margin-left:auto;
    margin-right:auto;
}
#login{
    text-align:right;
    padding-top:30px;
}

.articletext{
    text-align:left;
    background-color:rgb(76, 79, 106);
    width:1190px;
    margin-left:150px;
    margin-bottom: 50px;
    font-size: 35px;
}

.align {
    text-align:center;
}

.footer {
    margin-top:200px;
    text-align:center;
}

.partBoxes {
    display:inline-block;
    font-size:35px;
    text-align:center;
    color:white;
    background-color:rgb(48,48,48);
    width:500px;
    height:300px;
    justify-content:center;
}
label{
    color:white;
    font-size:20px;
    text-align:center;
}

input{
    width: 800px;
    height: 25px;
    font-size: 20px;
}

aside{
    background-color:rgb(48,48,48);
}